
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* text-align: center; */
}
.bodywrapper {
  background-color: #f7f7ff;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  width: 45%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

@media (max-width: 1024px) {
  .bodywrapper {
    width: 100%;
  }
}
